flows.json
[{"type":"tab","id":"b9bce865.adcab8","label":"new package"},{"id":"b56e9917.a08f48","type":"debugger","z":"b9bce865.adcab8","name":"","active":true,"console":"false","complete":"false","x":679,"y":263,"wires":[]},{"id":"d4b115ca.9b77b8","type":"sensingkit","z":"b9bce865.adcab8","name":"","subtype":"sensingkit","sensor":"light","x":252,"y":163,"wires":[[]]},{"id":"8ccecf97.89db4","type":"inject","z":"b9bce865.adcab8","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":246,"y":57,"wires":[[]]},{"id":"b43a021c.e8166","type":"twitter","z":"b9bce865.adcab8","name":"","subtype":"twitterHashTagStream","x":251,"y":262,"wires":[["2786a5d0.beadda"]]},{"id":"2786a5d0.beadda","type":"plugin","z":"b9bce865.adcab8","name":"","subtype":"power","x":453,"y":262,"wires":[["b56e9917.a08f48","f2cf7905.5b07e8"]]},{"id":"f2cf7905.5b07e8","type":"bulbsout","z":"b9bce865.adcab8","name":"","subtype":"set-bulb-on","value":"","x":468,"y":447,"wires":[]}]